body{
    padding: 0;


}

.cameron-artistes-liste{
    display: flex;
}



.cameron-genres__display{
    width: 250px;
    background-color: red;
    display: flex;
}

.cameron-genres{
    display: flex;
    justify-content: center;

}


