*{
    box-sizing: border-box;
}

body{
    padding: 0;
    background-color: gray;
}

a{
    text-decoration: none;
    color:black;

}

button{
    margin-bottom: 2px;
}


header{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    height:auto;

}

/*nav{
    background-color: lawngreen;
    display: flex;
    justify-content: center;
}*/

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

nav ul li {
    text-transform: uppercase;
    margin: 10px;
    padding: 5px;
}

nav a {
    color: #ffbd59;
}

nav a:hover {
    color: white;
}


.cameron-artistes-liste{
    display: flex;
    flex-wrap: wrap;
}
.cameron-artistes-liste__display{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: content-box;
    height: auto;
    background-color: aquamarine;
    padding: 10px;
    margin: 5px;
}


.cameron-artistes-liste__btn {
    display: flex;
    flex-direction: column;
    background-color: green;
    width: 80%;
    margin: 0 auto;
    white-space: nowrap;
}

footer{
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: black;
    color: #ffbd59;
    text-align: center;
}